body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color: #180d13;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 1em;
    top: 0;
    margin-bottom: 0;
}

.nav-img {
    width: 30%;
}

.nav-logo {
    width: 30%;
}

.nav-icon {
    color: white;
    margin-right: 0.5em;
}

.background-video {
    width: 100svw;
    height: 100svh;
    object-fit: cover;
}


.nav-list {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-weight: bold;
    margin-right: 1em;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: black;
}

.header-img-div {
    position: relative;
    width: 100%;

}

header {
    margin-top: 0;
}

.header-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}