body {
    background-color: #121212;
    color: whitesmoke;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2rem;
    border-bottom: 2px solid red;
}

.header-img {
    width: 45%;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.125em;
    margin: 0.3125em;
    font-size: 1.5rem;
    width: 45%;
    border-bottom: 1px solid white;
}

a:hover {
    color: red;
    border-color: red;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-btns {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.a-btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 0.25rem;
    display: block;
    width: 80svh;
    border: none;
    padding: 0.625em;
}

.a-btn:hover {
    color: red;
    background-color: white;
}

@media (min-width: 700px) {
    nav {
        display: inline;
    }

    .music-btns {
        display: inline;
        margin-top: 1em;
    }

    .a-btn:first-child {
        display: inline-block;
        margin-top: 1.5em;
        margin-right: 0.625em;
    }

    .a-btn {
        display: inline-block;
        margin-top: 0.75em;
    }

    h1 {
        display: inline-block;
    }

    .music-and-videos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .videos-embed {
        grid-column: 2;
    }


}